[Unit]
Description=CIFS mount to Pi1 timelapse share
After=network-online.target wifi-retry.service
Wants=network-online.target wifi-retry.service

[Mount]
What=//192.168.50.1/timelapse
Where=/mnt/timelapse
Type=cifs
Options=credentials=/etc/samba/pi1_credentials,vers=3.1.1,ro,nofail,iocharset=utf8,sec=ntlmssp

[Install]
WantedBy=multi-user.target
